body
     {
	background:white;
     }

     header
     {
       width:100%;	
       height: 50px;
       background:#FAEBD7;
       margin:0px 0px;
       padding:0px 0px;
     }
    
     header .title
     {
       
     }
  
     header .title h1
     {
       text-align: center;
       font-family: "Arial";
       font-size:25px;     
       color:black;
     }

     section 
     {
       width:100%;	
       margin:0px 0px;
       padding:0px 0px
       min-height:300px;
     }

     section .title
     {
       background:silver;
       border-radius:2px;
     }

     section .title h1
     {
       text-align: center;       
       font-family: "Verdana";
       font-size:20px;
       color:black;
     }
     
     section article 
     {
       padding:0px 7px;
       margin:0px 0px;
       display:inline-block;
       width:30%;
       min-height:250px;
       overflow:hidden;
     }
     
     section article h1
     {     
       font-family: "Verdana";
       color:black;
     }
     
     section article p
     {
       font-family: "Arial";
       color:black;
     }

     section article ul
     {
       
     }
       
     footer
     {
       width:100%;	
       height: 50px;
       background:#FAEBD7;
     }
